#pricing {
    background: #930000;
  }
  
  .pricing-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .pricing-table {
    background: transparent;
    margin-bottom: 50px;
    margin-top: 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .pricing-table.active {
    box-shadow: 0px 0px 12px rgba(41,46,50,0.6); 
    position: absolute;
    margin: auto;
    z-index: 200;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .pricing-table:hover {
    margin-top: -10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  .pricing-table li {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .headline {
    background: #231f20;
    color: #FFFFFF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .price {
      background: none repeat scroll 0 0 #231f20;
      color: #FFFFFF;
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 20px;
      padding-top: 20px;
  }
  
  
  .pricing-table:hover li.price  {
    background: #303236;
    -webkit-transition: all 0.85s ease-in-out;
    -moz-transition: all 0.85s ease-in-out;
    -o-transition: all 0.85s ease-in-out;
    transition: all 0.85s ease-in-out;
  }
  
  .price small {
    font-weight: 300;
    color: #929496;
  }
  
  .info {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 13px;
    color: #929496;
    background: #ffffff;
  }
  
  .features {
    color: #231f20;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #E8EAEA;
    background: #ffffff
  }
  
  .features.first {
    border-top: 1px dotted #E8EAEA;
  }
  
  .features.last {
    padding-top: 17px;
    padding-bottom: 20px;
  }
  
  .features.last a {
    color: #930000;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .pricing-container .btn {
      border-radius: 0;
  }
  
  .white {
    color: #ffffff;
  }
  
  .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline: none;
  }
  
  .btn {
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
  }
  
  .btn-lg {
    font-size: 13px;
    line-height: 1.33;
    padding: 22px 30px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .btn-sm {
    font-size: 11px;
    line-height: 1.33;
    padding: 10px 18px;
    font-weight: 400;
  }
  
  .btn-wide {
    width: 100%;
    font-size: 13px;
    line-height: 1.33;
    padding: 18px 28px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .btn-primary {
    background-color:#70cbce;
    color: #ffffff;
  }
  
  .btn-primary-red {
    background-color:#930000;
    color: #ffffff;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #8be2e5;
    color: #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  
  .btn-secondary {
    background-color: #ffffff;
    color: #231f20;
  }
  
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background-color: #ededed;
    color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  
  
.btn a{
  color: #ffffff;
  display: inline-block;
}
  
  @media (max-width: 480px) { 
  
    .btn-lg {
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }
    
    
    .btn-wide {
      width: 100%;
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }
    
}
  
.bg-grayy{
    background-color:#cccccc
  }

a:hover{
  text-decoration: none;
}

 /* Profile styles*/
 .mp-header{
  background-color: #930000;
  min-height: 250px;
  color: white;
}

.mt-50px{
  margin-top: 56px
}

header {
  background: url(../img/header_bg2.jpg) no-repeat center center;
  width: 100%;
  padding: 20px 10px 60px 10px;
  height: 30vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: 0px;
  margin-bottom: 12%;
}