<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>eHostels | Hostels</title>
    <link rel="icon" type="image/png" sizes="192x192" href="../static/res/img/fav-icons/android-icon-192x192.png">

    <link rel="stylesheet" href="../static/res/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/res/css/main2.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="hostel-tour.html">Hostels</a>
                </li>

            </ul>
        </div>
    </nav>
    <main role="main">
        <section class="jumbotron text-center mt-50px">
            <div class="container">
                <img class="d-block mx-auto mb-4" src="../static/res/img/official_logo.png" alt="logo" width="90" height="90">        
                <h1 class="jumbotron-heading">Tour Hostels</h1>
                <p class="lead text-muted">A collection of all the registered off-campushostels at
                    <span style="color: red">Ashesi University</span>.
                    <br> Look, Choose & Book.</p>
            </div>
        </section>

        <!---loop objects over this div to input parameters-->
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-6 box-shadow">
                            <img class="card-img-top" src="../static/res/img/header_bg6.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Hostel name:</strong>
                                    <!---->
                                    <br>
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Room Category</th>
                                                <th scope="col">Price (GH₵)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--iterate over this table body to input data-->
                                            <tr>
                                                <td>
                                                    <!--category goes here-->
                                                </td>
                                                <td>
                                                    <!--its price goes here-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <strong>Location:</strong>
                                    <!---->
                                    <br>
                                    <strong>Description:</strong>
                                    <!---->
                                    <br>
                                    <strong>Policies:</strong>
                                    <!---->
                                    <br>
                                    <strong>Hostel manager:</strong>
                                    <!---->
                                    <br>
                                    <strong>Phone number:</strong>
                                    <!---->
                                    <br>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-outline-secondary">Make reservation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2017-2018
                    <strong>the Codables</strong>
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Support</a>
                    </li>
                </ul>
            </footer>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>

</body>

</html>