<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>eHostels | My rooms</title>
    <link rel="icon" type="image/png" sizes="192x192" href="../static/res/img/fav-icons/android-icon-192x192.png">

    <link rel="stylesheet" href="../static/res/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/res/css/main2.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="hostel-tour.html">Students view</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="myrooms.html">Rooms</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username&nbsp;&nbsp;
                        <i class="fa fa-user fa-lg"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown08">
                        <a class="dropdown-item" href="hostel-profile.html">Hostel profile</a>
                        <a class="dropdown-item" href="hostel.html">My hostels</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <header class="header mt-50px" id="header-bg">
            <!-- Add image as the background-->
            <div class="row header-info">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>
                        <!--Get hostel name and place it here-->
                    </h1>
                    <br />
                </div>
            </div>
        </header>
        <div class="container">
            <div class="py-5 text-center">
                <h2>
                    <!--Policy title goes here-->
                </h2>
                <p class="lead">
                    <!--Managers policy goes here-->
                </p>
            </div>

            <hr class="col-md-12 mb-4">

            <div class="py-5 text-center">
                <h2>Hostel Facilities</h2>
                <p class="lead">
                    <!--Facilities goes here-->
                </p>
            </div>


            <hr class="col-md-12 mb-4">

            <div class="py-5 text-center">
                <h2>Room Categories</h2>
                <p class="lead">
                    <!--Hostel categories goes here-->
                </p>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2017-2018
                    <strong>the Codables</strong>
                </p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Support</a>
                    </li>
                </ul>
            </footer>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
    <script>
            // Starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';

                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');

                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();

        // Starter Javascript for loading image into header
        var file_path = "url(../static/res/img/header_bg6.jpg)";
        var yell = "blue";
        $(document).ready(function () {
            $("#header-bg").css("background-image", file_path );
        });

    </script>
</body>

</html>